.btnRow {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.checklistBtns {
    width: 100px;
}

.clrBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
}

.addingTaskInput {
    display: flex;
    justify-content: space-between;
}