.list-group-item {

    border-color: whitesmoke
}

.updateDiv {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btn {
    margin-right: 5px;
    margin-left: 5px;
}
input[type=checkbox] {
    width: 25px;
}